.sidemenu-container {
  position:absolute;
  display: none;
  width: calc(100% - 3rem);
  height: calc(100% - 33px);
  background: rgb(29, 29, 29);
  z-index: 9999;
}
.sidemenu-container.active {
  display: block;
}
.sidemenu-container ul,ol {
  list-style: none;
  margin: 3px auto;
  padding: 0;
}
.sidemenu-container .side-view {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(29, 29, 29);
  z-index: 99999;
}
.sidemenu-container .side-view.active {
  display: block;
}